# Ignorar dependências instaladas
node_modules/

# Ignorar arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar arquivos de ambiente (ex: variáveis de configuração sensíveis)
.env

# Ignorar arquivos de cache
/.cache

# Ignorar arquivos do sistema operacional (ex: Thumbs.db no Windows, .DS_Store no macOS)
.DS_Store
Thumbs.db

# Ignorar arquivos temporários do editor (ex: arquivos do Visual Studio Code)
.vscode/

# Ignorar arquivos de backup de editores de texto (ex: arquivos de backup do vim)
*~
